// .header-index {
// height: 300px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//     background-image: url(../../img/img-justicia.jpg);
//     background-blend-mode: screen;
//     background-color: (0, 0, 20);
//     background-size: cover;


// }
//  .h1__titulo {
//     height: 300px;
//     display: flex;
//     align-items: center;
//  }

// .nav-header {
//     border: solid 1px;
//     border-radius: 10px;
//     color: whitesmoke;
// }

// .ul-nav {
//     list-style: none;
//     display: flex;
//     gap: 30px;
//     color: whitesmoke;
//     padding: 15px;
// }


// CSS CON YOU TUBE APLICACION

.header-index {
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
    
}
.ul-nav {
    list-style: none;
    font-weight: bold;
    padding: 5px 12px;
    
}










